.container-fluid{
  background: url(../fondo1.jpg);
  height:752px;
  /* padding: ; */
}
body{
  font-family: 'Montserrat'
}
.co{
  background: #E09700;
}
a:hover{
  text-decoration: none;
}

.po{
  background:rgba(255, 255, 255, 0.418);
  top: 22%;
  position:absolute;
 
}
.estilotitulo{
font-family:'Montserrat';
font-weight: bolder;
font-size: 60px;
}
p{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
}
.padd{
  padding: 60px;
}

