nav{
    background:#0B5345;
}

body{
    padding-top: 64px;
    overflow-x:hidden;
    /* font-family: 'Questrial', sans-serif; */
font-family: 'Montserrat';
/* font-size: 20px; */
    /* background: #000000; */
}
.ko{
    overflow-y: hidden;
}
.neg{
  font-weight: bold;  
}
.bgc{
    background: rgba(26, 188, 156, 0.493);
    /* background: lightgray; */

}
.co{
    background: #E09700;
}
.est{
    border-radius: 100px;
    
}

.espacio{
    box-sizing: border-box;
}

.pd{
    padding-right: 0;
    /* color: white; */
}
th{
    /* color:white; */
}
.container-fluid{
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 90px;
}